<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Informações">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="nome">Nome</label>
            <input id="nome" [(ngModel)]="nome" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="preco">Preco</label>
            <p-inputNumber id="preco" [(ngModel)]="preco" placeholder = R$0,00 inputId="currency-br" mode="currency" currency="BRL" locale="pt-BR"  required>
            </p-inputNumber>
            </div>
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="timeonly">Duração</label>
            <p-calendar [(ngModel)]="duracaoConsulta" [timeOnly]="true" inputId="timeonly"></p-calendar>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-success" label="Salvar" icon="pi pi-check"
                (click)="salvar()"></button>
        </div>
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-danger" label="Cancelar" icon="pi pi-times"
                [routerLink]="['/home']"></button>
        </div>
    </div>
</p-fieldset>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#000000"
type="ball-climbing-dot"
>
<p style="font-size: 20px; color: black">Carregando..</p>
</ngx-spinner>
