<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Gráficos estatísticos">
    <p-chart type="line" [data]="dataLine" [options] = "optionsLine"></p-chart>
    
    <p-chart type="pie" [data]="dataPie" [options] = "optionsPie"></p-chart>
    
    <div class="p-grid">
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-danger" label="Cancelar" icon="pi pi-times"
                [routerLink]="['/home']"></button>
        </div>
    </div>
</p-fieldset>