<br><br>
<div class="div-no-mobile" style="position: fixed; bottom: 0px; width: 99%;">
    <p-fieldset legend="Créditos">
        <div class="p-grid">
            <div class="p-col">
                <h5 class="p-text-uppercase p-text-center p-text-bold">Direitos reservados à 5Head Corporation LTDA.
                </h5>
                <p class="p-text-center p-text-light">5Head Corporation LTDA. é dona da SKYNET.com soluções e, portanto,
                    possui os
                    direitos da página.</p>
            </div>
            <div class="p-col">
                <h5 class="p-text-uppercase p-text-center p-text-bold">Encontrou alguma falha? Reporte!</h5>
                <p class="p-text-center p-text-light">Reporte qualquer falha encontrada, Bug Hunting é recompensado na
                    nossa empresa!
                    <br> ferdavid_9@hotmail.com
                </p>
            </div>
        </div>
    </p-fieldset>
</div>

<div class="div-only-mobile">
    <p-fieldset legend="Créditos">
        <div class="p-grid">
            <div class="p-col">
                <h5 class="p-text-uppercase p-text-center p-text-bold">Direitos reservados à 5Head Corporation LTDA.
                </h5>
                <p class="p-text-center p-text-light">5Head Corporation LTDA. é dona da SKYNET.com soluções e, portanto,
                    possui os
                    direitos da página.</p>
            </div>
            <div class="p-col">
                <h5 class="p-text-uppercase p-text-center p-text-bold">Encontrou alguma falha? Reporte!</h5>
                <p class="p-text-center p-text-light">Reporte qualquer falha encontrada, Bug Hunting é recompensado na
                    nossa empresa!
                    <br> ferdavid_9@hotmail.com
                </p>
            </div>
        </div>
    </p-fieldset>
</div>

<style>

.div-only-mobile {
    display: none;
}
.div-no-mobile {
    display: block;
}
@media screen and (max-width: 849px) {

.div-no-mobile {
    display:none
}

.div-only-mobile {
    display: block;
}

}

</style>