<div class="card ">
    <p-table #dt [value]="especialidades" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
        currentPageReportTemplate="Mostrando {first} ao {last} a {totalRecords} de registros" [filterDelay]="0"
        [globalFilterFields]="['nome']" >
        <ng-template pTemplate="caption">
            <div class="table-header">
                Lista de Especialidades
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Pesquisa Global" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 12rem"></th>
                <th pSortableColumn="nome">Nome<p-sortIcon field="nome"></p-sortIcon>
                </th>
                <th pSortableColumn="nome">Preço<pi-sortIcon field="preco"></pi-sortIcon>
                </th>
                <th pSortableColumn="nome">Duração da Consulta <p-clock field="duracaoConsulta"></p-clock>
                </th>

            </tr>
             <tr>

                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'nome', 'contains')"
                        placeholder="Pesquisa por Nome" class="p-column-filter">
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <th></th>
        <ng-template pTemplate="body" let-especialidade>
            <tr class="p-selectable-row">
               <td>
                    {{especialidade.nome}}
                </td>
                <td>
                    {{especialidade.preco}}
                </td>
                <td>
                    {{especialidade.duracaoConsulta}}
                </td>
                <td style="text-align: center">
                    <button pButton type="button" class="p-button-primary" label="Editar" icon="pi pi-user-edit"
                        [routerLink]="['/especialidade-editar',especialidade.id]"></button>
                </td>
                <td>
                    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
                    <button pButton type="button" class="p-button-raised p-button-danger" label="Excluir"
                        icon="pi pi-trash" (click)="deleteEspecialidade(especialidade.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Nenhuma especialidade encontrada.</td>
            </tr>
        </ng-template>
