<p-fieldset legend="Informações">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="nome">Nome</label>
            <input id="nome" type="text" pInputText>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="cpfcnpj">CPF/CNPJ</label>
            <input id="cpfcnpj" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="rg">RG</label>
            <input id="rg" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="crm">CRM</label>
            <input id="crm" type="text" pInputText>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-6">
            <label for="endereco">Endereco</label>
            <input id="endereco" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="complemento">Complemento</label>
            <input id="complemento" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="numero">Nº</label>
            <input id="numero" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cep">CEP</label>
            <input id="cep" type="text" pInputText>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="estado">Estado</label>
            <p-autoComplete [(ngModel)]="textEstado" [suggestions]="filteredEstados" (completeMethod)="searchEstados($event)" [dropdown]="false">
                <ng-template let-estado pTemplate="item">
                    <div class="estado-item">
                        <div>{{estado}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cidade">Cidade</label>
            <p-autoComplete [(ngModel)]="textCidade" [suggestions]="filteredCidades" (completeMethod)="searchCidades($event)" [dropdown]="false">
                <ng-template let-cidade pTemplate="item">
                    <div class="cidade-item">
                        <div>{{cidade}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>
</p-fieldset>