<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Informações">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="nome">Nome</label>
            <input id="nome" [(ngModel)]="nome" type="text" pInputText required>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cpfcnpj">CPF/CNPJ</label>
            <input id="cpfcnpj" [(ngModel)]="cpfcnpj" pKeyFilter="pint" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="rg">RG</label>
            <input id="rg" [(ngModel)]="rg" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="registro">Registro</label>
            <input id="registro" [(ngModel)]="registro" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="tipoDeRegistro">Tipo de Registro</label>
            <p-autoComplete [(ngModel)]="tipoDeRegistro" [suggestions]="filteredTipoDeRegistros" (completeMethod)="searchTipoDeRegistros($event)" [dropdown]="true" required>
                <ng-template let-tipoDeRegistro pTemplate="item">
                    <div class="tipoDeRegistro-item">
                        <div>{{tipoDeRegistro}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-4">
            <label for="especialidade">Especialidade</label>
            <p-autoComplete [(ngModel)]="especialidade" [suggestions]="filteredEspecialidades" (completeMethod)="searchEspecialidades($event)" [dropdown]="true" required>
                <ng-template let-especialidade pTemplate="item">
                    <div class="especialidade-item">
                        <div>{{especialidade}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-6">
            <label for="endereco">Endereco</label>
            <input id="endereco" [(ngModel)]="endereco" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="complemento">Complemento</label>
            <input id="complemento" [(ngModel)]="complemento" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="numero">Nº</label>
            <input id="numero" [(ngModel)]="numero" pKeyFilter="pint" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cep">CEP</label>
            <p-inputMask [(ngModel)]="cep" mask="99999-999" required></p-inputMask>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="estado">Estado</label>
            <p-autoComplete [(ngModel)]="uf" [suggestions]="filteredEstados" (completeMethod)="searchEstados($event)" [dropdown]="false" required>
                <ng-template let-estado pTemplate="item">
                    <div class="estado-item">
                        <div>{{estado}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cidade">Cidade</label>
            <p-autoComplete [(ngModel)]="cidade" [suggestions]="filteredCidades" (completeMethod)="searchCidades($event)" [dropdown]="false" required>
                <ng-template let-cidade pTemplate="item">
                    <div class="cidade-item">
                        <div>{{cidade}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="celular">Celular</label>
            <p-inputMask [(ngModel)]="celular" mask="(99) 99999-9999" required></p-inputMask>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-5">
            <label for="email">E-mail</label>
            <input id="email" [(ngModel)]="email" pKeyFilter="email" type="text" pInputText required>
        </div>
    </div>
    <div class="p-formgrid p-grid">
        <button pButton type="button" class="p-button-raised p-button-success" label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
    </div>
</p-fieldset>