<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Informações">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="nome">Nome</label>
            <input id="nome" [(ngModel)]="nome" type="text" pInputText required>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cpf">CPF</label>
            <input id="cpf" [(ngModel)]="cpf" pKeyFilter="pint" type="text" pInputText mask="000.000.000-00" required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="rg">RG</label>
            <input id="rg" [(ngModel)]="rg" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="registro">Registro</label>
            <input id="registro" [(ngModel)]="registro" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="tipoDeRegistro">Tipo de Registro</label>
            <p-autoComplete [(ngModel)]="tipoDeRegistro" [suggestions]="filteredTipoDeRegistros"
                (completeMethod)="searchTipoDeRegistros($event)" [dropdown]="true" required>
                <ng-template let-tipoDeRegistro pTemplate="item">
                    <div class="tipoDeRegistro-item">
                        <div>{{tipoDeRegistro}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="especialidade">Especialidade</label>
            <p-dropdown [options]="especialidades" [(ngModel)]="especialidadeSelecionada" [filter]="true"
                optionLabel="nome" required>
            </p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="diasDaSemana">Dias da semana</label>
            <p-multiSelect [options]="diasDaSemana" [(ngModel)]="diasDaSemanaSelecionados" optionLabel="name">
            </p-multiSelect>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="cep">CEP</label>
            <input [(ngModel)]="cep" pKeyFilter="pint" pInputText mask="00000-000" required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-3">
            <label for="complemento">Complemento</label>
            <input id="complemento" [(ngModel)]="complemento" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="numero">Nº</label>
            <input id="numero" [(ngModel)]="numero" pKeyFilter="pint" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="celular">Celular</label>
            <input [(ngModel)]="celular" mask="(00) 00000-0000" pKeyFilter="pint" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-2">
            <label for="email">E-mail</label>
            <input id="email" [(ngModel)]="email" pKeyFilter="email" type="text" pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="horarioInicio">Horário inicial</label>
            <input id="horarioInicio" [(ngModel)]="horarioInicio" type="datetime" mask="00:00" pKeyFilter="pint"
                pInputText required>
        </div>
        <div class="p-field p-col-12 p-md-6 p-lg-1">
            <label for="horarioFim">Horário final</label>
            <input id="horarioFim" [(ngModel)]="horarioFim" type="datetime" mask="00:00" pKeyFilter="pint" pInputText
                required>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-success" label="Salvar" icon="pi pi-check"
                (click)="salvar()"></button>
        </div>
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-danger" label="Cancelar" icon="pi pi-times"
                [routerLink]="['/home']"></button>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#000000" type="ball-climbing-dot">
        <p style="font-size: 20px; color: white">Carregando..</p>
    </ngx-spinner>

</p-fieldset>