body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  margin: 0 0 100px;
 }

 html {
  position: relative;
  min-height: 100%;
}

#bottom-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 85%;
  margin-left: 7.5%;
}

fieldset {
  margin-top: 7%;
}

.card {
  margin-top: 7%;
  border: solid 1px lightgray;
}

.card-botoes {
  padding-left: 79%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 10px;
  margin-top: 2%;
  border: solid 1px lightgray;
  border-radius: 3px;
}

  .card-botoes .p-grid {
    padding-top: 5px;
  }

  .card-botoes .botoes-skymed {
    width: 100%;
  }

.nenhum-resultado {
  min-height: 500px;
}