<p-messages [(value)]="msgs"></p-messages>
<p-fieldset legend="Informações">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6 p-lg-12">
            <label for="nome">Nome</label>
            <input id="nome" [(ngModel)]="nome" type="text" placeholder="{{nome}}" pInputText required>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-success" label="Salvar" icon="pi pi-check"
                (click)="salvar()"></button>
        </div>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-danger" label="Excluir" icon="pi pi-trash"
                (click)="deletaEspecialidade()"></button>
        </div>
        <div class="p-col-12 p-md-2 p-lg-1">
            <button pButton type="button" class="p-button-raised p-button-primary" label="Cancelar" icon="pi pi-times"
                [routerLink]="['/especialidade-listar']"></button>
        </div>



    </div>

</p-fieldset>