<p-fieldset legend="Painel Administarativo">
  <div class="p-grid">
    <div class="p-col-12 p-md-2 p-lg-1">
      <div class="p-col-12 p-md-2 p-lg-1">
        <button pButton type="button" class="p-button-raised p-button-secondary" label="Estatisticas" icon="pi pi-chart-line"
            [routerLink]="['/estatistica']"></button>
    </div>

    <div class="p-col-12 p-md-2 p-lg-1">
        <button pButton type="button" class="p-button-raised p-button-secondary" label="Relatorios" icon="pi pi-file-o"
            [routerLink]="['/relatorio']"></button>
    </div>
    </div>
</div>
</p-fieldset>

